.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

.caption
{
	font-family: montserrat-n4, sans-serif;
}

.Controlers_caption
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u246-2,#u246-4,#u4925-4,#u4968-4,#u4982-4,#u4934-3,#u4940-4,#u4946-4,#u4955-4,#u4962-4,#u5749-4,#u5759-4,#u6306-4,#u6299-4,#u6380-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u6379-3
{
	font-family: ubuntu-n4, sans-serif;
}

#u6370-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u6372-3
{
	font-family: ubuntu-n4, sans-serif;
}

#u6391-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u6392-3
{
	font-family: ubuntu-n4, sans-serif;
}

#widgetu6376_input,#widgetu6368_input,#widgetu6388_input
{
	font-family: ubuntu, sans-serif;
}

#u6393-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3595-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u5813.PamphletThumbSelected #u5828-4 p,#u5953.PamphletThumbSelected #u5954-4 p,#u5947.PamphletThumbSelected #u5948-4 p,#u5868.PamphletThumbSelected #u5869-4 p,#u5972.PamphletThumbSelected #u5973-4 p,#u5925.PamphletThumbSelected #u5926-4 p,#u5915.PamphletThumbSelected #u5916-4 p,#u5904.PamphletThumbSelected #u5905-4 p,#u5884.PamphletThumbSelected #u5885-4 p,#u5916-4
{
	font-family: play-n4, sans-serif;
}

#u5869-4
{
	font-family: play-n4, sans-serif;
}

#u5973-4
{
	font-family: play-n4, sans-serif;
}

#u5905-4
{
	font-family: play-n4, sans-serif;
}

#u5828-4
{
	font-family: play-n4, sans-serif;
}

#u5885-4
{
	font-family: play-n4, sans-serif;
}

#u5926-4
{
	font-family: play-n4, sans-serif;
}

#u5948-4
{
	font-family: play-n4, sans-serif;
}

#u5954-4
{
	font-family: play-n4, sans-serif;
}

#u713-4,#u5911-17,#u3557,#u3557-6,#u3557-10,#u3557-12,#u3557-18,#u3557-22,#u3558-6,#u3558-10,#u3558-11,#u3558-13,#u3558-17,#u3558-21,#u5864-4,#u5980-4,#u5902-4,#u5788-4,#u5888-4,#u5933-4,#u5941-4,#u5957-4,#u3559-57,#u3560-52,#u3561-78,#u3562-56,#u3565-56,#u3586-56,#u3587-12,#u3589-57,#u3590-56,#u3566-2,#u3566-3,#u3566-7,#u3566-9,#u3566-11,#u3566-12,#u3566-14,#u3566-15,#u3566-17,#u3568-16,#u3585-4,#u3681-6,#u3694-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3692-3
{
	font-family: ubuntu-n4, sans-serif;
}

#u3703-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3704-3
{
	font-family: ubuntu-n4, sans-serif;
}

#u3688-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3687-3
{
	font-family: ubuntu-n4, sans-serif;
}

#widgetu3690_input,#widgetu3702_input,#widgetu3685_input
{
	font-family: ubuntu, sans-serif;
}

