#u6394
{
	position: fixed;
}

#u801
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u230
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../images/logo2.png") no-repeat center center;
	background-size: contain !important;
}

#u246-2,#u246-4
{
	font-size: 20px;
	line-height: 24px;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
}

#u794
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../images/logo_ortea.jpg") no-repeat center center;
	background-size: contain !important;
}

#menuu4859
{
	border-style: none;
	border-color: transparent;
	background-color: #009A33;
	position: relative;
}

#u4923
{
	background-color: #009A33;
	position: relative;
}

#u4923:hover
{
	background-color: #007819;
}

#u4966
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #52B65C;
	position: relative;
}

#u4966:hover
{
	background-color: #1CA82A;
}

#u4980
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #52B65C;
	position: relative;
}

#u4980:hover
{
	background-color: #1CA82A;
}

#u4968-4,#u4982-4
{
	font-size: 15px;
	color: #FFFFFF;
	line-height: 18px;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4933
{
	background-color: #009A33;
	position: relative;
}

#u4933:hover
{
	background-color: #007819;
}

#u4933.MuseMenuActive
{
	background-color: #00803C;
}

#u4938
{
	background-color: #009A33;
	position: relative;
}

#u4938:hover
{
	background-color: #007819;
}

#u4945
{
	background-color: #009A33;
	position: relative;
}

#u4945:hover
{
	background-color: #007819;
}

#u4952
{
	background-color: #009A33;
	position: relative;
}

#u4952:hover
{
	background-color: #007819;
}

#u4959
{
	background-color: #009A33;
	position: relative;
}

#u4959:hover
{
	background-color: #007819;
}

#u4925-4,#u4934-3,#u4940-4,#u4946-4,#u4955-4,#u4962-4
{
	font-size: 20px;
	color: #FFFFFF;
	line-height: 24px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5747
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #52B65C;
	position: relative;
}

#u5757
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #52B65C;
	position: relative;
}

#u6304
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #52B65C;
	position: relative;
}

#u6297
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #52B65C;
	position: relative;
}

#u4923.MuseMenuActive,#u4966.MuseMenuActive,#u4980.MuseMenuActive,#u4938.MuseMenuActive,#u4945.MuseMenuActive,#u4952.MuseMenuActive,#u4959.MuseMenuActive,#u5747.MuseMenuActive,#u5757.MuseMenuActive,#u6304.MuseMenuActive,#u6297.MuseMenuActive
{
	background-color: #F17C24;
}

#u5749-4,#u5759-4,#u6306-4,#u6299-4
{
	font-size: 15px;
	color: #FFFFFF;
	line-height: 18px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	position: relative;
}

._u5661.f3s_top
{
	background-image: url("../images/u5661-full.png");
	background-position: left top;
}

#u6325
{
	position: absolute;
}

#u6366
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 10px 3px rgba(30, 30, 36, 0.7);
	-webkit-box-shadow: 0px 0px 10px 3px rgba(30, 30, 36, 0.7);
	box-shadow: 0px 0px 10px 3px rgba(30, 30, 36, 0.7);
	border-style: none;
	border-color: transparent;
	background-color: #797989;
	background-color: rgba(98, 98, 117, 0.85);
	position: relative;
	-pie-background: rgba(98, 98, 117, 0.85);
}

#u5008,#u6326,#widgetu6376
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6380-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 25px;
	color: #FFFFFF;
	line-height: 25px;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	position: relative;
}

#widgetu6376.fld-err-st #u6380-4
{
	border-style: none;
	border-color: transparent;
}

#u6379-3
{
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	font-size: 25px;
	color: #C4C4C4;
	line-height: 25px;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu6376.non-empty-st #u6379-3
{
	background-color: #FFFFFF;
}

#widgetu6376:hover #u6379-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu6376.focus-st #u6379-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu6376.non-empty-st #u6379-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu6376:hover #u6379-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu6376.focus-st #u6379-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu6368
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6370-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 25px;
	color: #FFFFFF;
	line-height: 25px;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6372-3
{
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	font-size: 25px;
	color: #C4C4C4;
	line-height: 25px;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu6368.non-empty-st #u6372-3
{
	background-color: #FFFFFF;
}

#widgetu6368:hover #u6372-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu6368.focus-st #u6372-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu6368.non-empty-st #u6372-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu6368:hover #u6372-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu6368.focus-st #u6372-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u6374-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu6367.frm-sub-st #u6374-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u6387-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	line-height: 14px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu6367.frm-subm-err-st #u6387-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u6373-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	line-height: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu6367.frm-sub-st #u6374-4,#widgetu6367.frm-subm-err-st #u6387-4,#widgetu6367.frm-subm-ok-st #u6373-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu6367.frm-subm-ok-st #u6373-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u6375-17
{
	background: url("../images/u6375-17.png") no-repeat 0px 0px;
	position: relative;
}

#u6375-17:hover
{
	background: url("../images/u6375-17-r.png") no-repeat 0px 0px;
}

#u6375-17:active
{
	background: url("../images/u6375-17-m.png") no-repeat 0px 0px;
}

#widgetu6367.frm-sub-st #u6375-17
{
	background: url("../images/u6375-17-fs.png") no-repeat 0px 0px;
}

#widgetu6388
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#widgetu6376.fld-err-st,#widgetu6368.fld-err-st,#widgetu6388.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u6391-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 25px;
	color: #FFFFFF;
	line-height: 25px;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	position: relative;
}

#widgetu6376.fld-err-st #u6380-4 p,#widgetu6376.fld-err-st #u6380-4 span,#widgetu6368.fld-err-st #u6370-4 p,#widgetu6368.fld-err-st #u6370-4 span,#widgetu6388.fld-err-st #u6391-4 p,#widgetu6388.fld-err-st #u6391-4 span
{
	color: #D7244C;
}

#u6392-3
{
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	font-size: 25px;
	color: #C4C4C4;
	line-height: 25px;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu6388.non-empty-st #u6392-3
{
	background-color: #FFFFFF;
}

#widgetu6388:hover #u6392-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu6388.focus-st #u6392-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu6376.fld-err-st #u6379-3,#widgetu6368.fld-err-st #u6372-3,#widgetu6388.fld-err-st #u6392-3
{
	border-color: #D7244C;
	background-color: #FFFFFF;
}

#widgetu6388.non-empty-st #u6392-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu6388:hover #u6392-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu6388.focus-st #u6392-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu6376.fld-err-st #u6379-3 *,#widgetu6368.fld-err-st #u6372-3 *,#widgetu6388.fld-err-st #u6392-3 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu6376_input,#widgetu6368_input,#widgetu6388_input
{
	color: #C4C4C4;
	font-family: ubuntu, sans-serif;
	font-size: 25px;
	font-style: italic;
	font-weight: 400;
}

#u6317
{
	position: absolute;
	background: #FF0000 url("../images/u6317-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#F7931E),color-stop(100%, #FF0000));
	background: -webkit-linear-gradient(top,#F7931E ,#FF0000 100%);
	background: -moz-linear-gradient(top,#F7931E ,#FF0000 100%);
	background: -ms-linear-gradient(top,#F7931E ,#FF0000 100%);
	background: -o-linear-gradient(top,#F7931E ,#FF0000 100%);
	background: linear-gradient(to bottom,#F7931E ,#FF0000 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#pu6317:hover #u6317
{
	background: #FF0000 url("../images/u6317-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#F7931E),color-stop(100%, #FF0000));
	background: -webkit-linear-gradient(top,#F7931E ,#FF0000 100%);
	background: -moz-linear-gradient(top,#F7931E ,#FF0000 100%);
	background: -ms-linear-gradient(top,#F7931E ,#FF0000 100%);
	background: -o-linear-gradient(top,#F7931E ,#FF0000 100%);
	background: linear-gradient(to bottom,#F7931E ,#FF0000 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#u6393-4
{
	background-color: transparent;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 17px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
}

#u5662,#u5005,#u246-7,#u4922,#u4928,#u4965,#u4977,#u4930,#u4937,#u4944,#u4951,#u4958,#u4964,#u5746,#u5754,#u6301,#u6294,#u5661,#pamphletu6308,#widgetu6367,#u6314,#pu6317:hover #u6393-4
{
	position: relative;
}

#pu6317.PamphletThumbSelected #u6393-4 p
{
	font-size: 13px;
	line-height: 1.3;
}

#pu6317.PamphletThumbSelected #u6393-4,#pu6317 #u6393-4
{
	position: relative;
}

#u6309
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
}

#u6309:hover
{
	background-color: #999999;
}

#u6309:active
{
	background-color: #6B6B6B;
}

#u6310-4
{
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

